:root {
  /* --color-background: rgb(247, 247, 238); */
  /* --color-surface: rgb(247, 247, 238); */
  --color-background: rgb(253, 253, 251);
  --color-surface: rgb(253, 253, 251);

  --color-primary: rgb(98, 125, 152);
  --color-secondary: rgb(100, 133, 106);
  --color-error: rgb(153, 11, 21);

  --color-on-background: rgb(20, 20, 21);
  --color-on-surface: rgb(20, 20, 21);

  --color-on-primary: rgb(253, 253, 251);
  --color-on-secondary: rgb(253, 253, 251);
}

/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";

html, body {
  @apply h-full; 
}

body {
  @apply font-sans;
  background-color: var(--color-background);
  color: rgba(20, 20, 21, 0.87);
}

@screen sm {
  body {
    @apply overflow-y-scroll;
  }
}

p {
  @apply mb-2;
}

.link {
  @apply text-primary underline
}

.table th {
  @apply px-3 pt-2 pb-1 text-sm tracking-wide text-left uppercase;
}

.table td {
  @apply px-3 py-2;
}

.container-sm {
  @apply max-w-sm mx-auto;
}

.container-md {
  @apply max-w-md mx-auto;
}

.empahsis-high {
  /* TODO make this happen via variables */
  color: rgba(20, 20, 21, 0.87);
}
.emphasis-medium {
  /* TODO make this happen via variables */
  color: rgba(20, 20, 21, 0.60);
}

.emphasis-low {
  /* TODO make this happen via variables */
  color: rgba(20, 20, 21, 0.38);
}

.surface {
  position: relative;
  outline: 0;
  overflow: hidden;
}

.surface::before {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  background-color: var(--color-on-surface);
  top: calc(50% - 100%);
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}

.surface:hover::before {
  @apply opacity-01dp;
}

.surface:focus {
  outline: none;
}

.surface:focus::before {
  @apply opacity-08dp;
}

.surface.btn-txt::before,
.surface.btn-otl::before,
.surface-1::before {
  background-color: var(--color-primary);
}

.surface.btn-txt.btn-2::before, 
.surface.btn-otl.btn-2::before,
.surface-2::before {
  background-color: var(--color-secondary);
}

.surface.btn-ctn::before {
  background-color: var(--color-on-primary);
}

.surface.btn-ctn.btn-2::before {
  background-color: var(--color-on-secondary);
}

.btn {
  @apply inline-block px-4 py-3 text-sm font-bold leading-none tracking-wide;
  border-radius: 0.25rem;
}

.btn-full {
  @apply w-full text-center; 
}

.btn-txt {
  @apply btn;
  color: var(--color-primary);
}

.btn-txt.btn-1 {
  color: var(--color-primary);
}

.btn-txt.btn-2 {
  color: var(--color-secondary);
}

.btn-otl {
  @apply btn;
  color: var(--color-on-background);
  border: 1px solid var(--color-on-background);
}

.btn-otl.btn-1 {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-otl.btn-2 {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-ctn {
  @apply btn;
}

.btn-ctn:disabled {
  @apply bg-gray-500 text-gray-900 opacity-disabled !important;
}

.btn-ctn.btn-1 {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.btn-ctn.btn-2 {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input + label {
  cursor: pointer; 
}

.h1, .h2, .h3 {
  @apply mb-2;
}

.h1 {
  @apply text-2xl font-bold text-gray-900;
}

.h2 {
  @apply text-xl font-bold text-gray-800;
}

.h3 {
  @apply text-lg font-bold text-gray-700;
}

.h4 {
  @apply font-bold text-gray-700;
}

/*
 * react-modal
 */

.ReactModal__Content {
  background-color: blue;
}

.ReactModal__Overlay {
  z-index: 41;
}

/* purgecss end ignore */

.font-brand {
  font-family: 'Libre Baskerville', serif;
}

.label {
  @apply block px-2 py-1 bg-gray-100 border-b-2;
}

.gutter-none {
  @apply -mx-5;
}


@import "tailwindcss/utilities";
