/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";

html, body {
  @apply h-full text-gray-900;
}

body {
  @apply overflow-y-auto;
}

p {
  @apply mb-2;
}

.btn {
  @apply px-4 py-2 uppercase text-sm font-bold tracking-wide;
}

.btn-ctn {
  @apply text-white bg-purple-700;
}

.surface {
  position: relative;
  outline: 0;
  overflow: hidden;
}


.surface::before {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  background-color: #fff;
  top: calc(50% - 100%);
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}

.surface:hover::before {
  @apply opacity-01dp;
}

.surface:focus {
  outline: none;
}

.surface:focus::before {
  @apply opacity-08dp;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input + label {
  cursor: pointer; 
}

.h1, .h2, .h3 {
  @apply mb-2;
}

.h1 {
  @apply text-2xl text-gray-900 font-bold;
}

.h2 {
  @apply text-xl text-gray-800 font-bold;
}

.h3 {
  @apply text-lg text-gray-700 font-bold;
}

.h4 {
  @apply text-gray-700 font-bold;
}

/* purgecss end ignore */

.font-brand {
  font-family: 'Libre Baskerville', serif;
}

.link, .button-link {
  @apply text-blue-600;
}

.label {
  @apply block px-2 py-1 bg-gray-100 border-b-2;
}

.gutter-none {
  @apply -mx-5;
}

@import "tailwindcss/utilities";
